In [1]:
x = 1
y = 2
x + y

3

In [2]:
y

2

In [4]:
def add_numbers(x, y):
    return x + y

add_numbers(1, 2)

3

In [9]:
def add_numbers(x, y, z=None):
    if z == None:
        return x + y
    else:
        return x + y + z
        
print(add_numbers(1, 2))
print(add_numbers(1, 2, 3))

3
6

In [13]:
def add_numbers(x, y, z = None, flag = False):
    if (flag):
        print("Flag is true!")
    if(z == None):
        return x + y
    else:
        return x + y + z
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [14]:
print(1, 2, 'a')

1 2 a

In [15]:
def add_numbers(x, y):
    return x + y

a = add_numbers
a(1, 2)

3

In [16]:
type('This is string')

str

In [17]:
type(None)

NoneType

In [18]:
type(1)

int

In [19]:
type(1.0)

float

In [20]:
type(add_numbers)

function

In [23]:
x = (1, 'a', 2, 'b')

In [24]:
type(x)

tuple

In [ ]:
x = 1

In [25]:
x = [1, 'a', 2, 'b']

In [26]:
type(x)

list

In [27]:
x.append(3.3)
x

[1, 'a', 2, 'b', 3.3]

In [28]:
for item in x:
    print(item)

1
a
2
b
3.3

In [30]:
i = 0
while (i != len(x)):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [31]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [32]:
[1] * 3

[1, 1, 1]

In [33]:
1 in [1, 2, 3]

True

In [34]:
x = 'This is a string'
print(x[0]) #first character
print(x[0: 1]) #first character, but we have explicitly set the end character
print(x[0: 1]) #first two characters

T
T
T

In [35]:
x[-1]

'g'

In [36]:
x[-4: -2]

'ri'

In [37]:
x[: 3]

'Thi'

In [38]:
x[3:]

's is a string'

In [39]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname * 3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [40]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [41]:
'Chris' + 2

TypeError: can only concatenate str (not "int") to str

In [42]:
'Chris' + str(2)

'Chris2'

In [45]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [46]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [47]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [48]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [49]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [51]:
x = ['Christopher', 'Brooks', 'brooksch@umich.edu']
fname, lname, email = x

In [52]:
fname

'Christopher'

In [53]:
lname

'Brooks'

In [54]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor')
fname, lname, email = x

ValueError: too many values to unpack (expected 3)

In [55]:
print('Chris' + 2)

TypeError: can only concatenate str (not "int") to str

In [56]:
print('Chris' + str(2))

Chris2

In [57]:
sales_record = {
    'price': 3.24,
    'num_items': 4,
    'person': 'Chris' }

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(
    sales_record['person'],
    sales_record['num_items'],
    sales_record['price'],
    sales_record['num_items'] * sales_record['price']
))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [ ]:
Let's import our datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [61]:
import csv

%precision 2

with open('datasets/AAPL.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[: 3] # The first three dictionaries in our list.

[{'Date': '2012-01-03',
  'Open': '58.485714',
  'High': '58.928570',
  'Low': '58.428570',
  'Close': '58.747143',
  'Adj Close': '39.172771',
  'Volume': '75555200'},
 {'Date': '2012-01-04',
  'Open': '58.571430',
  'High': '59.240002',
  'Low': '58.468571',
  'Close': '59.062859',
  'Adj Close': '39.383293',
  'Volume': '65005500'},
 {'Date': '2012-01-05',
  'Open': '59.278572',
  'High': '59.792858',
  'Low': '58.952858',
  'Close': '59.718571',
  'Adj Close': '39.820515',
  'Volume': '67817400'}]

In [62]:
len(mpg)

1760

In [63]:
mpg[0].keys()

dict_keys(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'])

In [66]:
sum(float(d['Open']) for d in mpg) / len(mpg)

115.18

In [67]:
sum(float(d['Close']) for d in mpg) / len(mpg)

115.16

In [69]:
volume = set(d['Volume'] for d in mpg)
volume

{'24607400',
 '166574800',
 '43988900',
 '45812400',
 '19232000',
 '69976000',
 '82242700',
 '75415000',
 '32936400',
 '50999500',
 '74708900',
 '236264000',
 '23695200',
 '28719100',
 '34324500',
 '23475600',
 '73406200',
 '16591100',
 '45203500',
 '92337700',
 '85010800',
 '41490800',
 '16230300',
 '86879100',
 '65506700',
 '84311500',
 '11475900',
 '99507800',
 '127989400',
 '114602100',
 '198412200',
 '69054300',
 '96075700',
 '20810600',
 '25703500',
 '46478800',
 '20562900',
 '36338100',
 '38670400',
 '148583400',
 '56075400',
 '68074300',
 '52099600',
 '41654100',
 '24970300',
 '20525100',
 '294303100',
 '27232300',
 '37086900',
 '190526700',
 '88528500',
 '24884500',
 '31882900',
 '52109000',
 '52687900',
 '118230700',
 '115029600',
 '29421100',
 '62626100',
 '60428200',
 '41601000',
 '44063600',
 '49271400',
 '35012300',
 '45519000',
 '28500400',
 '25869100',
 '46361400',
 '47450800',
 '82126800',
 '18690500',
 '101901100',
 '91086100',
 '26933200',
 '46939000',
 '22525500',
 '50882900',
 '23292500',
 '35655800',
 '35756700',
 '28382100',
 '39958000',
 '20567800',
 '104233500',
 '75207300',
 '71528100',
 '28402800',
 '41574400',
 '68531500',
 '32478900',
 '90862100',
 '33169600',
 '20034600',
 '26195500',
 '17421700',
 '54719700',
 '118559000',
 '161010500',
 '49886200',
 '20836900',
 '65062900',
 '125374900',
 '28654800',
 '37619800',
 '94835300',
 '31663100',
 '35427000',
 '134871100',
 '69650700',
 '354711000',
 '61888800',
 '21750000',
 '189846300',
 '20748000',
 '14249500',
 '21542000',
 '29104200',
 '51069200',
 '68501600',
 '79438800',
 '31561900',
 '31666300',
 '63407400',
 '34402600',
 '57373400',
 '35887000',
 '44772800',
 '100809800',
 '48752400',
 '21984700',
 '27269600',
 '79713900',
 '23793500',
 '37173500',
 '30442100',
 '69936800',
 '91070000',
 '65491100',
 '24451200',
 '38358900',
 '20923000',
 '26932600',
 '18667700',
 '18871500',
 '66473000',
 '46765600',
 '19818900',
 '48756400',
 '97763400',
 '93375800',
 '75311400',
 '92570100',
 '115099600',
 '66163700',
 '186021500',
 '42810000',
 '58363400',
 '60801000',
 '94785600',
 '62777000',
 '28528800',
 '88470900',
 '29641100',
 '22050200',
 '54951600',
 '64318700',
 '81094400',
 '202281100',
 '31193400',
 '72611700',
 '77517300',
 '97920900',
 '34319500',
 '95744600',
 '100363900',
 '37709700',
 '44886100',
 '44392800',
 '33691500',
 '36236000',
 '118149500',
 '56189000',
 '71714000',
 '67935700',
 '90804000',
 '40635300',
 '26891000',
 '29855800',
 '132357400',
 '17000500',
 '26131500',
 '169625400',
 '17461000',
 '65270900',
 '65655100',
 '129114300',
 '50988300',
 '46946800',
 '254608200',
 '72899400',
 '43706600',
 '43733800',
 '109215400',
 '24054500',
 '125326600',
 '118924000',
 '28116000',
 '91328700',
 '156421300',
 '55197000',
 '27705200',
 '77025200',
 '26601400',
 '23192700',
 '50640800',
 '43938300',
 '41865000',
 '24788200',
 '26419400',
 '125702500',
 '29445200',
 '208679800',
 '32842300',
 '78540700',
 '35626800',
 '36886200',
 '41925300',
 '81587800',
 '99621900',
 '62008500',
 '96209400',
 '97870500',
 '88818800',
 '120176000',
 '24125800',
 '160324500',
 '138719700',
 '25868200',
 '24128800',
 '40105900',
 '41990600',
 '88429800',
 '28465000',
 '81718700',
 '15534500',
 '43341200',
 '156314900',
 '59127900',
 '148522500',
 '19235600',
 '160688500',
 '23774100',
 '53771200',
 '241632300',
 '160081600',
 '24863900',
 '41795200',
 '150118500',
 '25966000',
 '29219100',
 '17328400',
 '20346300',
 '119279300',
 '31916000',
 '121786000',
 '72635500',
 '33930500',
 '73365400',
 '31074000',
 '40884700',
 '36869000',
 '83814000',
 '97829900',
 '48511000',
 '72296000',
 '19985700',
 '36585000',
 '53691400',
 '114160200',
 '145688900',
 '93982000',
 '24121500',
 '208639900',
 '25226000',
 '93088100',
 '24167500',
 '21118100',
 '23538700',
 '19891400',
 '66934700',
 '91931000',
 '78870400',
 '68506200',
 '47590600',
 '44907400',
 '38398500',
 '89735800',
 '83713000',
 '21090600',
 '33010000',
 '24358400',
 '48951000',
 '75951400',
 '30931200',
 '124160400',
 '27940600',
 '316723400',
 '28331700',
 '44639300',
 '25076100',
 '53564000',
 '79302300',
 '129304000',
 '117330500',
 '27442300',
 '36222400',
 '70798000',
 '51105100',
 '68924100',
 '69041700',
 '48535800',
 '23600800',
 '18296900',
 '93511600',
 '46645400',
 '39130400',
 '29881500',
 '31751900',
 '49305200',
 '94118500',
 '94941700',
 '44565300',
 '18400800',
 '151549300',
 '71649900',
 '40621400',
 '18697900',
 '24553500',
 '70672600',
 '63688600',
 '72462600',
 '60834000',
 '111895000',
 '43885000',
 '97082800',
 '20126900',
 '141465800',
 '219193100',
 '84344400',
 '151398800',
 '113780100',
 '27989300',
 '41668500',
 '127629600',
 '42803200',
 '18041100',
 '62404000',
 '30278000',
 '15039500',
 '33152000',
 '26276000',
 '92344800',
 '21250800',
 '45601100',
 '99367800',
 '50015700',
 '22885400',
 '32525600',
 '39759300',
 '66303300',
 '42044500',
 '58457000',
 '69884400',
 '18883200',
 '23624900',
 '50749300',
 '89983600',
 '62353200',
 '24008500',
 '142897300',
 '196760200',
 '52766100',
 '99312600',
 '88255300',
 '17213700',
 '63175000',
 '143245200',
 '64632400',
 '26845900',
 '35874300',
 '97936300',
 '27632000',
 '121039100',
 '43940900',
 '85551400',
 '31712900',
 '68840400',
 '75077000',
 '57988000',
 '49047300',
 '32476300',
 '176786400',
 '100092000',
 '25131300',
 '21265800',
 '24409500',
 '39232600',
 '39087300',
 '36515500',
 '63944300',
 '110709900',
 '38454000',
 '75555200',
 '32425100',
 '29663900',
 '99886500',
 '23482900',
 '72729300',
 '44863200',
 '60171800',
 '27693400',
 '87484600',
 '53087700',
 '20257400',
 '27200400',
 '65800500',
 '72307300',
 '69696200',
 '54525000',
 '23779900',
 '18707200',
 '26374400',
 '68856600',
 '57134500',
 '37471600',
 '29264600',
 '45596000',
 '88925200',
 '46418100',
 '29158100',
 '97799100',
 '58671200',
 '26337600',
 '62892800',
 '15043100',
 '53302200',
 '32377600',
 '48793800',
 '27254800',
 '45964300',
 '106752100',
 '37541200',
 '44700800',
 '199630200',
 '49988000',
 '26252600',
 '139248900',
 '52788400',
 '26299800',
 '29173300',
 '53124400',
 '56843000',
 '83745500',
 '39531500',
 '40703700',
 '28408600',
 '35561000',
 '112342300',
 '138112100',
 '13570400',
 '29468500',
 '18831500',
 '33686800',
 '59091900',
 '32482500',
 '17868800',
 '72842100',
 '136520300',
 '37861700',
 '18308500',
 '49365300',
 '25331700',
 '88146100',
 '84436400',
 '24611200',
 '60790700',
 '40191600',
 '59364500',
 '36493900',
 '56239800',
 '25860200',
 '252394800',
 '25199400',
 '20676200',
 '141330700',
 '41403400',
 '31326800',
 '33478000',
 '54272200',
 '115003700',
 '56028100',
 '41401700',
 '33794400',
 '120825600',
 '178058300',
 '33042300',
 '83140400',
 '137442900',
 '57298000',
 '33692000',
 '27201700',
 '56471100',
 '62370500',
 '40925500',
 '86088100',
 '50346200',
 '17134300',
 '89611900',
 '39529900',
 '220485300',
 '27195500',
 '29465500',
 '53699500',
 '63170100',
 '133369700',
 '13046400',
 '86258200',
 '20559900',
 '29184000',
 '25711900',
 '150801000',
 '126727300',
 '27350200',
 '147816200',
 '66854200',
 '130246900',
 '32689100',
 '21604600',
 '45352200',
 '149843400',
 '68263100',
 '61008200',
 '24814400',
 '115581900',
 '33721000',
 '25285300',
 '59299800',
 '80077200',
 '67825200',
 '148501500',
 '26212200',
 '88241300',
 '24024000',
 '28970400',
 '125421000',
 '59006200',
 '61316500',
 '64041000',
 '172713800',
 '140224000',
 '38919000',
 '222431300',
 '16604200',
 '52234700',
 '50190000',
 '27211000',
 '21425000',
 '64717100',
 '44224000',
 '27766300',
 '74714500',
 '43458200',
 '160990200',
 '68722500',
 '27484500',
 '22198200',
 '376530000',
 '146477100',
 '85042300',
 '44370700',
 '69567400',
 '110103000',
 '20041200',
 '209649300',
 '122918600',
 '39180300',
 '15309100',
 '170817500',
 '69134100',
 '47099700',
 '34031800',
 '51542400',
 '19076000',
 '48160100',
 '94623900',
 '42291400',
 '73573500',
 '45218000',
 '49899900',
 '150286500',
 '64441300',
 '36928300',
 '35003500',
 '31942600',
 '35546400',
 '100933600',
 '73177300',
 '45729000',
 '155967700',
 '45935500',
 '70716100',
 '197477700',
 '54749000',
 '16982100',
 '21584000',
 '67218100',
 '65005500',
 '68179700',
 '103601600',
 '33513600',
 '23469200',
 '55843900',
 '30889400',
 '58512600',
 '116199300',
 '55550400',
 '34094100',
 '45477900',
 '48778800',
 '23637500',
 '17365200',
 '30268900',
 '68695900',
 '34018000',
 '26608800',
 '59522900',
 '365213100',
 '21108100',
 '128674700',
 '19649400',
 '32112800',
 '23211000',
 '37356200',
 '24462100',
 '30837000',
 '19399100',
 '66539400',
 '47572000',
 '90351100',
 '17446300',
 '48802000',
 '70564200',
 '46464800',
 '108845100',
 '30611000',
 '53233900',
 '53117100',
 '33446800',
 '68695100',
 '204165500',
 '61719200',
 '20286800',
 '60972100',
 '82644100',
 '62014800',
 '54843600',
 '27097300',
 '26257100',
 '86593800',
 '20132100',
 '35216300',
 '28037200',
 '32084200',
 '100366000',
 '67929400',
 '58900200',
 '31531200',
 '66908100',
 '87626700',
 '56863100',
 '140129500',
 '83039600',
 '119075600',
 '25368100',
 '71458100',
 '33049300',
 '63398300',
 '15989400',
 '22743800',
 '40644900',
 '87216500',
 '185403400',
 '157644900',
 '39934300',
 '56238500',
 '64853600',
 '24554400',
 '25555900',
 '173717600',
 '44387300',
 '82416600',
 '80996300',
 '236138000',
 '18476400',
 '18997300',
 '40922600',
 '57179300',
 '43063400',
 '22889300',
 '32597900',
 '162206300',
 '59914400',
 '93250500',
 '22395600',
 '79239300',
 '22966400',
 '98776300',
 '46055100',
 '46557000',
 '71766800',
 '42307200',
 '44462400',
 '82809300',
 '35890500',
 '88569600',
 '167371400',
 '32527000',
 '42062400',
 '34411900',
 '48734700',
 '35273800',
 '27426400',
 '58709000',
 '18660400',
 '70573300',
 '17294000',
 '30791000',
 '302006600',
 '50701700',
 '115450600',
 '62739100',
 '32657400',
 '25473900',
 '72647400',
 '133951300',
 '51608600',
 '96954200',
 '176145200',
 '19918900',
 '78430800',
 '90576500',
 '97909700',
 '49747600',
 '42094200',
 '98735000',
 '29516900',
 '28792100',
 '26211000',
 '89672100',
 '23675100',
 '35368600',
 '21638400',
 '196379400',
 '76095600',
 '82086200',
 '33683100',
 '37299400',
 '52064700',
 '66622500',
 '41440500',
 '21578400',
 '68231100',
 '42246200',
 '26528000',
 '14479600',
 '36436000',
 '67649400',
 '33185500',
 '22776800',
 '40586000',
 '57711500',
 '37169200',
 '61156900',
 '50407100',
 '74927300',
 '71117900',
 '31801900',
 '49057900',
 '221053700',
 '64029000',
 '136682700',
 '32185200',
 '16672200',
 '183073100',
 '70709100',
 '51957000',
 '58052400',
 '159941600',
 '61012000',
 '30181200',
 '117466300',
 '164873100',
 '27255100',
 '115386600',
 '49154200',
 '36660000',
 '38318900',
 '34808800',
 '52369000',
 '55791000',
 '51023100',
 '68457400',
 '43340100',
 '76845900',
 '38558000',
 '54716900',
 '38106700',
 '26085900',
 '124057500',
 '28611500',
 '38018600',
 '28062900',
 '48575900',
 '33374800',
 '42343600',
 '106070300',
 '33795000',
 '26704200',
 '42035800',
 '40444900',
 '50038100',
 '40169300',
 '89881400',
 '36414600',
 '20048500',
 '35439400',
 '22929400',
 '65434600',
 '43143000',
 '64773000',
 '46746700',
 '46356700',
 '37654500',
 '21029500',
 '146837600',
 '20860400',
 '21984300',
 '44646000',
 '40188000',
 '34287100',
 '26701500',
 '52674800',
 '84093800',
 '41025500',
 '28369000',
 '44525900',
 '41888700',
 '47445700',
 '29190000',
 '136895500',
 '39021000',
 '30238800',
 '100345700',
 '26315200',
 '151782400',
 '127589000',
 '62176200',
 '32542400',
 '93729300',
 '50141000',
 '44595000',
 '25892200',
 '28349900',
 '99526700',
 '132379800',
 '80688300',
 '16393400',
 '28313700',
 '128950500',
 '40943500',
 '42427400',
 '32702000',
 '33226200',
 '33568200',
 '44998500',
 '92348900',
 '128275500',
 '36205900',
 '25362600',
 '27717900',
 '76756400',
 '51135500',
 '54134500',
 '214911200',
 '70149700',
 '50640400',
 '82982200',
 '25213800',
 '101820600',
 '25086200',
 '26028400',
 '26578700',
 '89327700',
 '71074700',
 '62353100',
 '21388300',
 '225309000',
 '35502700',
 '41666400',
 '84142100',
 '18933400',
 '37329200',
 '50361100',
 '68812800',
 '22193600',
 '68206600',
 '152263300',
 '51227300',
 '32220100',
 '48479200',
 '60479300',
 '26785100',
 '27733700',
 '131693800',
 '32581300',
 '91108500',
 '110888700',
 '52481200',
 '153346200',
 '46471700',
 '34290000',
 '17320900',
 '92992200',
 '143336900',
 '30586300',
 '79480100',
 '32264500',
 '27408200',
 '119084000',
 '149590000',
 '16262400',
 '232478400',
 '39730400',
 '24507300',
 '19201700',
 '26266200',
 '56331200',
 '42364300',
 '40654800',
 '32203300',
 '29726000',
 '139267100',
 '182759500',
 '48096700',
 '29407500',
 '46048200',
 '104732600',
 '42885000',
 '98506100',
 '33710400',
 '51794500',
 '27108600',
 '32789400',
 '69708100',
 '49739400',
 '189093100',
 '55410600',
 '53411800',
 '21870300',
 '185798900',
 '101135300',
 '29368400',
 '108945900',
 '36365100',
 '56517100',
 '79237200',
 '14246300',
 '106847300',
 '36162300',
 '43395500',
 '15781000',
 '59348900',
 '22434600',
 '32629000',
 '44205200',
 '224674100',
 '53164400',
 '86393300',
 '56505400',
 '53569400',
 '57010100',
 '45637200',
 '41344300',
 '20476500',
 '77821600',
 '111779500',
 '25145500',
 '147984200',
 '43694000',
 '21899500',
 ...}

In [71]:
import datetime as dt
import time as tm

In [72]:
tm.time()

1702996183.74

In [73]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2023, 12, 19, 19, 31, 4, 798476)

In [74]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

(2023, 12, 19, 19, 31, 4)

In [75]:
delta = dt.timedelta(days=100) # create a timedelta of 100 days
delta

datetime.timedelta(days=100)

In [76]:
today = dt.date.today()

In [77]:
today - delta # the date 100 days ago

datetime.date(2023, 9, 10)

In [78]:
today > today - delta # compare dates

True

In [79]:
class Person:
    department = 'School of Information' #a class variable
    
    
    def set_name(self, new_name): #a method
        self.name = new_name
        
    def set_location(self, new_location):
        self.location = new_location

In [80]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} live in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks live in Ann Arbor, MI, USA and works in the department School of Information

In [82]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest

In [83]:
for item in cheapest:
    print(item)

9.0
11.0
12.34
2.01

In [84]:
my_function = lambda a, b, c: a +b

In [85]:
my_function(1, 2, 3)

3

In [86]:
my_list = []
for number in range(0, 1000):
    if number % 2 == 0:
        my_list.append(number)
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [87]:
my_list = [number for number in range(0, 1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]