# Pandas Introduction

This week we're going to deepen our investigation to how Python can be used to manipulate, clean, and query data by looking at the Pandas data tool kit. Pandas was created by Wes McKinney in 2008, and is an open source project under a very permissive license. As an open source project it's got a strong community, with over one hundred software developers all committing code to help make it better. Before pandas existed we had only a hodge podge of tools to use, such as numpy, the python core libraries, and some python statistical tools. But pandas has quickly become the defacto library for representing relational data for data scientists.

I want to take a moment here to introduce the question answersing site Stack Overflow. Stack Overflow is used broadly within the software development community to post questions about programming, programming languages, and programming toolkits. What's special about Stack Overflow is that it's heavily curated by the community. And the Pandas community, in particular, uses it as their number one resource for helping new members. It's quite possible if you post a question to Stack Overflow, and tag it as being Pandas and Python related, that a core Pandas developer will actually respond to your question. In addition to posting questions, Stack Overflow is a great place to go to see what issues people are having and how they can be solved. You can learn a lot from browsing Stacks at Stack Overflow and with pandas, this is where the developer community is.

A second resource you might want to consider are books. In 2012 Wes McKinney wrote the definitive Pandas reference book called Python for Data Analysis and published by O'Reilly, and it's recently been update to a second edition. I consider this the go to book for understanding how Pandas works. I also appreciate the more brief book "Learning the Pandas Library" by Matt Harrison. It's not a comprehensive book on data analysis and statistics. But if you just want to learn the basics of Pandas and want to do so quickly, I think it's a well laid out volume and it can be had for a good price.

The field of data science is rapidly changing. There's new toolkits and method being created everyday. It can be tough to stay on top of it all. Marco Rodriguez and Tim Golden maintain a wonderful blog aggregator site called Planet Python. You can visit the webpage at planetpython.org, subscribe with an RSS reader, or get the latest articles from the @PlanetPython Twitter feed. There's lots of regular Python data science contributors, and I highly recommend it if you follow RSS feeds.

Here's my last plug on how to deepen your learning. Kyle Polich runs an excellent podcast called Data Skeptic. It isn't Python based per se, but it's well produced and it has a wonderful mixture of interviews with experts in the field as well as short educational lessons. Much of the word he describes is specific to machine learning methods. But if that's something you are planning to explore through this specialization this course is in, I would really encourage you to subscribe to his podcast.

That's it for a little bit of an introduction to this week of the course. Next we're going to dive right into Pandas library and talk about the series data structure.

# The `Series` Datastructure

In this lecture we're going to explore the pandas Series structure. By the end of this lecture you should be familiar with how to store and manipulate single dimensional indexed data in the Series object.

The series is one of the core data structures in pandas. You think of it a cross between a list and a dictionary. The items are all stored in an order and there's labels with which you can retrieve them. An easy way to visualize this is two columns of data. The first is the special index, a lot like keys in a dictionary. While the second is your actual data. It's important to note that the data column has a label of its own and can be retrieved using the .name attribute. This is different than with dictionaries and is useful when it comes to merging multiple columns of data. And we'll talk about that later on in the course.

In [1]:
# Let's import pandas to get started
import pandas as pd

In [3]:
# As you might expect, you can create a series by passing in a list of values.
# When you do this, Pandas automatically assigns an index starting with zero and
# sets the name of the series to None. Let's work on an example of this.

# One of the easiest ways to create a series is to use an array-like object, like
# a list.

# Here I'll make a list of the three of students, Alice, Jack, and Molly, all as strings
students = ["Alice", "Jack", "Molly"]

# Now we just call the Series function in pandas and pass in the students
pd.Series(students)

0    Alice
1     Jack
2    Molly
dtype: object

In [4]:
# The result is a Series object which is nicely rendered to the screen. We see here that
# the pandas has automatically identified the type of data in this Series as "object" and
# set the dytpe parameter as appropriate. We see that the values are indexed with integers,
# starting at zero

In [5]:
# We don't have to use strings. If we passed in a list of whole numbers, for instance,
# we could see that panda sets the type to int64. Underneath panda stores series values in a
# typed array using the Numpy library. This offers significant speedup when processing data
# versus traditional python lists.

# Let's create a little list of numbers
numbers = [1, 2, 3]
# And turn that into a serie
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
# And we see on my architecture that the result is a dtype of int64 objects

In [7]:
# There's some other typing details that exist for performance that are important to know.
# The most important is how Numpy and thus pandas handle missing data.

# In Python, we have the none type to indicate a lack of data. But what do we do if we want
# to have a typed list like we do in the series object?

# Underneath, pandas does some type conversion. If we create a list of strings and we have
# one element, a None type, pandas inserts it as a None and uses the type object for the
# underlying array.

# Let's recreate our list of students, but leave the last one as a None
students = ["Alice", "Jack", None]
# And let's convert this to a series
pd.Series(students)

0    Alice
1     Jack
2     None
dtype: object

In [8]:
# However, if we create a list of numbers, integers or floats, and put in the None type,
# pandas automatically converts this to a special floating point value designated as NaN,
# which stands for "Not a Number".

# So let's create a list with a None value in it
numbers = [1, 2, None]
# And turn that into a series
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [9]:
# You'll notice a couple of things. First, NaN is a different value. Second, pandas
# set the dytpe of this series to floating point numbers instead of object or ints. That's
# maybe a bit of a surprise - why not just leave this as an integer? Underneath, pandas
# represents NaN as a floating point number, and because integers can be typecast to
# floats, pandas went and converted our integers to floats. So when you're wondering why the
# list of integers you put into a Series is not floats, it's probably because there is some
# missing data.

In [10]:
# For those who might not have done scientific computing in Python before, it is important
# to stress that None and NaN might be being used by the data scientist in the same way, to
# denote missing data, but that underneath these are not represented by pandas in the same
# way.

# NaN is *NOT* equivilent to None and when we try the equality test, the result is False.

# Lets bring in numpy which allows us to generate an NaN value
import numpy as np
# And lets compare it to None
np.nan == None

False

In [11]:
# It turns out that you actually can't do an equality test of NAN to itself. When you do,
# the answer is always False.

np.nan == np.nan

False

In [12]:
# Instead, you need to use special functions to test for the presence of not a number,
# such as the Numpy library isnan().

np.isnan(np.nan)

True

In [13]:
# So keep in mind when you see NaN, it's meaning is similar to None, but it's a
# numeric value and treated differently for efficiency reasons.

In [15]:
# Let's talk more about how pandas' Series can be created. While my list might be a common
# way to create some play data, often you have label data that you want to manipulate.
# A series can be created directly from dictionary data. If you do this, the index is
# automatically assigned to the keys of the dictionary that you provided and not just
# incrementing integers.

# Here's an example using some data of students and their classes.
students_scores = {
    "Alice": "Physics",
    "Jack": "Chemistry",
    "Molly": "English" }

s = pd.Series(students_scores)
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [16]:
# We see that, since it was string data, pandas set the data type of the series to "object".
# We see that the index, the first column, is also a list of strings.

In [17]:
# Once the series has been created, we can get the index object using the index attribute.

s.index

Index(['Alice', 'Jack', 'Molly'], dtype='object')

In [18]:
# As you play more with pandas you'll notice that a lot of things are implemented as numpy
# arrays, and have the dtype value set. This is true of indicies, and here pandas infered
# that we were using objects for the index.

In [21]:
# Now, this is kind of interesting. The dtype of object is not just for strings, but for
# arbitrary objects. Lets create a more complex type of data, say, a list of tuples.
students = [("Alice", "Brown"), ("Jack", "White"), ("Molly", "Green")]
pd.Series(students)

0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object

In [22]:
# We see that each of the tuples is stored in the series object, and the type is object.

In [23]:
# You can also separate your index creation from the data by passing in the index as a
# list explicitly to the series.

s = pd.Series(["Physics", "Chemistry", "English"], ["Alice", "Jack", "Molly"])
s

Alice      Physics
Jack     Chemistry
Molly      English
dtype: object

In [24]:
# So what happens if your list of values in the index object are not aligned with the keys
# in your dictionary for creating the series? Well, pandas overrides the automatic creation
# to favor only and all of the indices values that you provided. So it will ignore from your
# dictionary all keys which are not in your index, and pandas will add None or NaN type values
# for any index value you provide, which is not in your dictionary key list.

# Here's and example. I'll pass in a dictionary of three items, in this case students and
# their courses
students_scores = {
    "Alice": "Physics",
    "Jack": "chemistry",
    "Molly": "English" }
# When I create the series object though I'll only ask for an index with three students, and
# I'll exclude Jack
s = pd.Series(students_scores, index=["Alice", "Molly", "Sam"])
s

Alice    Physics
Molly    English
Sam          NaN
dtype: object

In [25]:
# The result is that the Series object doesn't have Jack in it, even though he was in our
# original dataset, but it explicitly does have Sam in it as a missing value.

In this lecture we've explored the pandas Series data structure. You've seen how to create a series from lists and dictionaries, how indicies on data work, and the way that pandas typecasts data including missing values.